@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: #f7fafc;
  --text: #080a0b;
  --text-secondary: #5d5d5b;
  --border: rgb(226, 232, 240);
  --highlight: #6429ff;
}

:root.dark {
  /* --background: #3a4d7d;
  --foreground: #1e3261;
  --text: #ecedf1;
  --secondary: #3c749c; */
}

body {
  @apply font-sans;
  color: var(--text);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
