@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #080a0b;
  --text-secondary: #5d5d5b;
}

:root.dark {
  /* --background: #3a4d7d;
  --foreground: #1e3261;
  --text: #ecedf1;
  --secondary: #3c749c; */
}

body {
  @apply font-sans;
  color: var(--text);
}
